/* table {
    width: max-content;
    height: 100%;
    border: 2px solid black; 
    padding: 10px; 
    text-align: left; 
    border-spacing: 10px;
    border-left: 2px solid black;
}
th {
    text-align: center;
} */

table, th, td {
    border: 1px solid black;
}
th, td {
    padding: 10px;
}