<style>
table, th, td {
    border: 1px solid black;
}
th, td {
    padding: 10px;
}
</style>
<div>
    <table>
      <tr>
        <th>FIRST NAME</th>
        <th>LAST NAME</th>
        <th>COMPANY NAME</th>
        <th>APP AREA</th>
        <th>WORKING EXPERIENCE</th>
        <th>SALARY</th>
      </tr>
      <tr>
        <td>{{f_name}}</td>
        <td>{{l_name}}</td>
        <td>{{com_name}}</td>
        <td>{{app_area}}</td>
        <td>{{working_exp}}</td>
        <td>{{getTotalSalary()}}</td>
      </tr>
    </table>
  </div>