<style>
    table, td, tr{
        border: 2px solid black;
    }
</style>

<div>
    <table>
        <thead>
            <td>ID</td>
            <td>NAME</td>
            <td>GENDER</td>
            <td>ANNUAL SALARY</td>
            <td>DATE OF BIRTH</td>
        </thead>
        <tbody>
            <tr *ngFor = 'let employee of employees'>
                <td>{{employee.id}}</td>
                <td>{{employee.name}}</td>
                <td>{{employee.gender}}</td>
                <td>{{employee.annualSalary}}</td>
                <td>{{employee.dob}}</td>
            </tr>
        </tbody>
    </table>
</div>

<div>
    CHEACK YOUR COLOR PRESENT OR NOT <input [(ngModel)] = 'colorName' placeholder="COLOR NAME"/>
    <br/>
    <!-- <button (click) = 'check()'>CHECK</button> -->
    <div [ngSwitch] = "colorName">
        <div *ngFor = 'let color of colorNames'>
            <div *ngSwitchCase = "'{{color}}'"{{color}}>YOUR COLOR PRESENT</div>
        </div>
        
    </div>
</div>