<style>
    table,
    td,
    tr {
        border: 2px solid black;
    }
</style>
<div style="border: 2px solid black; width: max-content;">
    SELECT GENDER
    <input type="radio" name = "genderType" value="all" checked (input) = 'genderType = $event.target.value'>ALL
    <input type = "radio" name = "genderType" value="male" (input) = 'genderType = $event.target.value'>MALE
    <input type="radio" name = "genderType" value="female" (input) = 'genderType = $event.target.value'>FEMALE
</div>
<div>
    <table>
        <thead>
            <td>ID</td>
            <td>NAME</td>
            <td>GENDER</td>
            <td>ANNUAL SALARY</td>
            <td>DATE OF BIRTH</td>
        </thead>
        <tbody *ngFor='let employee of employees'>
            <tr *ngIf = 'employee.gender.toLowerCase() === genderType.toLowerCase() || genderType === "all"'>
                <td>{{employee.id | uppercase}}</td>
                <td>{{employee.name | titlePipe : employee.gender}}</td>
                <td>{{employee.gender}}</td>
                <td>{{employee.annualSalary}}</td>
                <td>{{employee.dob}}</td>
            </tr>
        </tbody>
    </table>
</div>
<div>{{genderType}}</div>

<!-- <div>
    CHEACK YOUR COLOR PRESENT OR NOT <input [(ngModel)] = 'colorName' placeholder="COLOR NAME"/>
    <br/>
    <button (click) = 'check()'>CHECK</button>
    <div [ngSwitch] = "colorName">
        <div *ngFor = 'let color of colorNames'>
            <div *ngSwitchCase = "'{{color | lowercase }}'">YOUR COLOR PRESENT</div>
        </div>
    </div>
</div> -->