<style>
input {
    padding: 5px;
    margin: 5px;
}
</style>
<!-- <input [value] = 'f_name' (input) = 'f_name = $event.target.value'/> -->
<input [(ngModel)] = 'f_name' placeholder="FIRST NAME"/>
<br/>

<!-- <input [value] = 's_name' (input) = 's_name = $event.target.value'/> -->
<input [(ngModel)] = 's_name' placeholder="SECOND NAME"/>
<br/>

<!-- <input [value] = 'email' (input) = 'email = $event.target.value'/> -->
<input [(ngModel)] = 'email' type="email" placeholder="EMAIL ADDRESS"/>
<br/>

<button (click) = 'submit()'>SUBMIT</button> 
<button (click) = 'clear()'>CLEAR</button>
<div style="margin-top: 10px; margin-left: 5px;">
    YOUR FULL NAME IS : {{submitted_fname + ' ' + submitted_sname}} 
    <br/> <br/>
    EMAIL ADDRESS : {{submitted_email}}
</div>
